---
deployment:
  replicas: 2

nodeSelector:
  node-role.kubernetes.io/worker: "worker"

# CRD providers for Middleware and ServersTransport
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: false
  kubernetesIngress:
    enabled: true

# MetalLB LoadBalancer IP
service:
  loadBalancerIP: 192.168.2.250
  type: LoadBalancer

# Prometheus metrics
metrics:
  prometheus:
    enabled: true
    service:
      enabled: true
    serviceMonitor:
      enabled: true

# Access logs
logs:
  general:
    level: INFO
  access:
    enabled: true

# Security headers
globalArguments:
  - "--api.dashboard=true"
  - "--ping=true"
  - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=24h"

# Dashboard
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.elmstreet79.de`)
    entryPoints: ["websecure"]
    annotations:
      cert-manager.io/cluster-issuer: internal-ca-issuer
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Traefik Dashboard"
      gethomepage.dev/description: "Reverse Proxy & Load Balancer"
      gethomepage.dev/group: "Infrastructure"
      gethomepage.dev/icon: "traefik.png"
      gethomepage.dev/weight: "70"
      gethomepage.dev/href: "https://traefik.elmstreet79.de"
      gethomepage.dev/pod-selector: "app.kubernetes.io/name=traefik"
    tls:
      secretName: traefik-dashboard-tls

# Ports
ports:
  web:
    port: 80
    exposedPort: 80
    expose:
      default: true
  websecure:
    port: 443
    exposedPort: 443
    expose:
      default: true
    http3:
      enabled: false
    tls:
      enabled: true
  metrics:
    port: 9100
    expose:
      default: false
