---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: homelab-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.2.250-192.168.2.253                  # IPv4
    - 2a00:1e:7c41:fb00::250-2a00:1e:7c41:fb00::253  # IPv6 ISP Prefix (extern erreichbar)
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: homelab-l2
  namespace: metallb-system
spec:
  ipAddressPools:
    - homelab-pool
  # interfaces removed to auto-detect on all nodes (ens18, eno1, eth0)
