apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: free-games-claimer-data
  namespace: free-games-claimer
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
