# Longhorn distributed storage values
persistence:
  defaultClass: true
  defaultClassReplicaCount: 3
  recurringJobSelector:
    enable: true
    jobList: '[{"name":"backup-daily","isGroup":false},{"name":"backup-weekly","isGroup":false},{"name":"snapshot-cleanup-daily","isGroup":false}]'

# Default backup store configuration  
defaultBackupStore:
  backupTarget: "s3://longhorn@local/"
  backupTargetCredentialSecret: "longhorn-s3-secret"

# Default settings
defaultSettings:
  defaultReplicaCount: "3"

# Disable preUpgrade hook (causes issues with ArgoCD)
preUpgradeChecker:
  jobEnabled: false
