#kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/fr24/fr24-secret-unsealed.yaml > manifests/fr24/fr24-secret-sealed.yaml
apiVersion: v1
kind: Secret
metadata:
  name: fr24-secret
  namespace: fr24
type: Opaque
stringData:
  fr24-key: "YOUR_FR24_KEY_HERE"
