# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/cert-manager/cloudflare-token-unsealed.yaml > manifests/cert-manager/cloudflare-token-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
type: Opaque
stringData:
  api-token: "your-cloudflare-api-token-here"
