---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBxLcezSAPyqIHZ9M+LSUd8k0xFAvCN6utAQzwuLBzCyBzqvsk+VwdtIxy1hdTv0L2/KDUm4TsA1IN/eN1uvb9FFNNo42iCxl5Bet+Ab4gHTUN9ITM7FwWjLYtRZf8cMXSTyBYoW3n4jJu6LVxwIvEJ20cNdn2M3FmtkTG3CLvqVq3MVag3D0OWLZPigzLDz9fS0XdRvAhdPWmH8YkRfVlqhMUe3iFzKTBMDY4qwaBydjGeD8fQH3NvjGVzQIPxQXBedy7xHB9dUYCQr86yaQfr0LjY3hqJaysc5c9pjQFZL29q+EFXojqNU39Hj/PuZV8r8wUYv8XLQeZ9z+Isiyvmm8I35C+qZ+FKbwFNxO8VwUeqZwUHQXqZYhA3tSgNN8+KI6Da3rw6CuAYRY3v29XjAh2Lh98uxNB5OAB1nKc5ZCEMgJV/IMqSRWYcK13sfJupdB/uK322CDGDZVdtLsGvAIkiYV1e1hdbcYv/bSJKdkhQgXrhmdyTQIqprJqFxznUEkF5hNNNF44m/KQFBbzXMOtFI4hIu2EdwCSDaAuJzMT1z2x3AkpPA5nSJ3ga7ZXUKjzx4QQiS2yw7imeEylR9Enfu+9P4CgEoZnEJNQUmQNnJ5fpfcSnEXLzV+xj2lOnK8q24eua3G428onmSgGf9XdciSsNW2/yl/aiqn+5DKmPzJ9erzNl8gFb2FkdnKtQmIpa2yPXVV1gX9NGDL91VIuD4gf8TD2+zbKhU3Kw19nSU2phOtoO
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
    type: Opaque
