# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/cert-manager/pangolin-api-credentials-unsealed.yaml > manifests/cert-manager/pangolin-api-credentials-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: pangolin-api-credentials
  namespace: cert-manager
type: Opaque
stringData:
  apiKey: "YOUR_PANGOLIN_API_KEY"
  orgId: "YOUR_ORG_ID"
  siteId: "YOUR_SITE_ID"
  apiBaseUrl: "https://pangolin-api.elmstreet79.de/v1"
