apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - grafana-ingress.yaml
  - prometheus-ingress.yaml
  - alertmanager-ingress.yaml
  - prometheus-rules.yaml
  - aws-credentials-sealed.yaml
patches:
  - path: service-grafana.yaml
    target:
      kind: Service
      name: kube-prometheus-stack-grafana
  - path: service-prometheus.yaml
    target:
      kind: Service
      name: kube-prometheus-stack-prometheus
  - path: service-alertmanager.yaml
    target:
      kind: Service
      name: kube-prometheus-stack-alertmanager
