apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ntfy

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

images:
  - name: binwiederhier/ntfy
    newTag: v2.14.0
