#kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/beszel/secret-unsealed.yaml > manifests/beszel/secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: beszel-agent-ssh
  namespace: beszel
  labels:
    app: beszel-agent
type: Opaque
stringData:
  SSH_PUBLIC_KEY: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIExampleKeyDataHere"  # Replace with SSH public key from hub