apiVersion: v1
kind: Service
metadata:
  name: beszel-hub
  namespace: beszel
  labels:
    app: beszel-hub
spec:
  type: ClusterIP
  ports:
  - port: 8090
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: beszel-hub
