#kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/newt/newt-auth-unsealed.yaml > manifests/newt/newt-auth-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: newt-auth
  namespace: newt
type: Opaque
stringData:
  endpoint: "https://pangolin.elmstreet79.de"
  id: "xxxxxxxxx"
  secret: "xxxxxxxxxx"
