# Seal with: kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/homepage/argocd-token-secret-unsealed.yaml > manifests/homepage/argocd-token-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-homepage-token
  namespace: homepage
type: Opaque
stringData:
  token: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
