# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/homepage/beszel-secret-unsealed.yaml > manifests/homepage/beszel-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-beszel
  namespace: homepage
type: Opaque
stringData:
  username: "admin@example.com"
  password: "your-beszel-password"
