# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/homepage/nextcloud-token-unsealed.yaml > manifests/homepage/nextcloud-token-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-nextcloud
  namespace: homepage
type: Opaque
stringData:
  username: "your_nextcloud_username_here"
  password: "your_nextcloud_password_here"
