# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/homepage/proxmox-secret-unsealed.yaml > manifests/homepage/proxmox-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-proxmox
  namespace: homepage
type: Opaque
stringData:
  username: "homepage@pve!monitoring"
  password: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
