---
apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
  annotations:
    pangolin.io/expose: "true"
    pangolin.io/subdomain: "argocd"
    pangolin.io/auth: "true"
    pangolin.io/port: "80"
