apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik
resources:
  - certificate.yaml
  - ingress.yaml
patches:
  - path: service.yaml
    target:
      kind: Service
      name: traefik
