nextcloud:
  host: nextcloud.elmstreet79.de
  trustedDomains:
    - nextcloud.kube.home
    - nextcloud.elmstreet79.de
  trustedProxies:
    - 10.42.0.0/16
    - 10.43.0.0/16
  extraEnv:
    - name: OVERWRITEPROTOCOL
      value: "https"
    - name: OVERWRITEHOST
      value: "nextcloud.elmstreet79.de"
    - name: OVERWRITECLIURL
      value: "https://nextcloud.elmstreet79.de"