# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/n8n/postgresql-secret-unsealed.yaml > manifests/n8n/postgresql-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: n8n-secrets
  namespace: n8n
type: Opaque
stringData:
  db-password: "your-postgres-password-here"
  encryption-key: "your-random-encryption-key-here"
