apiVersion: v1
kind: Service
metadata:
  name: n8n
  namespace: n8n
  annotations:
    pangolin.io/expose: "true"
    pangolin.io/subdomain: "n8n"
    pangolin.io/auth: "true"
  labels:
    app.kubernetes.io/name: n8n
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: n8n
