# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/longhorn/minio-secret-unsealed.yaml > manifests/longhorn/minio-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-minio-secret
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: your-minio-access-key  # Replace with your MinIO access key
  AWS_SECRET_ACCESS_KEY: your-minio-secret-key  # Replace with your MinIO secret key
  AWS_ENDPOINTS: http://192.168.2.15:9000  # Replace with your MinIO endpoint
