# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/longhorn/ovh-secret-unsealed.yaml > manifests/longhorn/ovh-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-ovh-secret
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: your-ovh-access-key  # Replace with your OVH S3 access key
  AWS_SECRET_ACCESS_KEY: your-ovh-secret-key  # Replace with your OVH S3 secret key
  AWS_ENDPOINTS: https://s3.de.io.cloud.ovh.net  # Replace with your OVH S3 endpoint (region-specific)
