# Seal with: kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/longhorn/s3-secret-unsealed.yaml > manifests/longhorn/s3-secret-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-s3-secret
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "your-minio-access-key"
  AWS_SECRET_ACCESS_KEY: "your-minio-secret-key"
  AWS_ENDPOINTS: "http://192.168.2.9:9300"
  AWS_CERT: ""
  VIRTUAL_HOSTED_STYLE: "false"
  AWS_REGION: "us-east-1"
