apiVersion: v1
kind: Service
metadata:
  name: landing-page
  namespace: landing-page
spec:
  selector:
    app: landing-page
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  type: ClusterIP
