---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server
  namespace: argocd
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "ArgoCD"
    gethomepage.dev/description: "GitOps Continuous Delivery"
    gethomepage.dev/group: "Management"
    gethomepage.dev/icon: "argo-cd.png"
    gethomepage.dev/weight: "10"
    gethomepage.dev/widget.type: "argocd"
    gethomepage.dev/widget.url: "https://argocd.elmstreet79.de"
    gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_ARGOCD_TOKEN}}"
    
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - argocd.elmstreet79.de
      secretName: argocd-server-tls
  rules:
    - host: argocd.elmstreet79.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 80
