# Cert-Manager values
installCRDs: true

# Minimal configuration
global:
  leaderElection:
    namespace: cert-manager

# Schedule only on worker nodes
nodeSelector:
  node-role.kubernetes.io/worker: "worker"

# Apply to webhook and cainjector as well
webhook:
  nodeSelector:
    node-role.kubernetes.io/worker: "worker"

cainjector:
  nodeSelector:
    node-role.kubernetes.io/worker: "worker"
