apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config-cm
  namespace: home-assistant
data:
  configuration.yaml: |
    # Minimal HTTP config to trust your reverse proxy and use X-Forwarded-For
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 192.168.2.0/24
        - 10.0.0.0/8
      ip_ban_enabled: true
      login_attempts_threshold: 5
