apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config-cm
  namespace: home-assistant
data:
  configuration.yaml: |
    # Minimal HTTP config
    http:
      ip_ban_enabled: true
      login_attempts_threshold: 5
    
    # Enable discovery for automatic device detection
    default_config:
