apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config-cm
  namespace: home-assistant
data:
  configuration.yaml: |
    # Minimal HTTP config to trust your reverse proxy and use X-Forwarded-For
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      ip_ban_enabled: true
      login_attempts_threshold: 5
    
    # Enable discovery for automatic device detection
    default_config:

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
