apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  project: default
  source:
    repoURL: https://github.com/Nebu2k/kubernetes-homelab
    targetRevision: main
    path: overlays/production/nextcloud
  destination:
    server: https://kubernetes.default.svc
    namespace: nextcloud
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
