---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 38.0.2
      helm:
        valueFiles:
          - $values/manifests/traefik/values.yaml
    - repoURL: https://github.com/Nebu2k/kubernetes-homelab
      targetRevision: main
      ref: values
    - repoURL: https://github.com/Nebu2k/kubernetes-homelab
      targetRevision: main
      path: manifests/traefik
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
