apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: teslamate-db
  namespace: teslamate
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
