apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: homepage
data:
  settings.yaml: |
    title: Homelab Dashboard
    favicon: https://gethomepage.dev/assets/favicon.ico
    theme: dark
    color: slate
    headerStyle: boxedWidgets
    layout:
      Management:
        style: row
        columns: 2
      Infrastructure:
        style: row
        columns: 2
      Monitoring:
        style: row
        columns: 3
      Server:
        style: row
        columns: 2
      Smart Home:
        style: row
        columns: 2
      Applications - Extern:
        style: row
        columns: 4
      Applications - Intern:
        style: row
        columns: 2
      DNS:
        style: row
        columns: 2
    providers:
      longhorn:
        url: http://longhorn-frontend.longhorn-system

  services.yaml: |
    # Nur Services die nicht über Ingress-Annotations oder Docker-Labels verfügbar sind
    # z.B. spezielle Widget-Konfigurationen
    
    - Infrastructure:
      - Container (Pi5):
          href: https://portainer.elmstreet79.de
          description: Portainer Docker Pi5
          icon: docker.png
          weight: 30
          widget:
            type: portainer
            url: https://portainer.elmstreet79.de
            env: 2
            key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}

      - Container (Pi4):
          href: https://portainer.elmstreet79.de
          description: Portainer Docker Pi4
          icon: docker.png
          weight: 40
          widget:
            type: portainer
            url: https://portainer.elmstreet79.de
            env: 4
            key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}


  bookmarks.yaml: |
    - Developer:
      - GitHub:
          - icon: github-light.png
            href: https://github.com/Nebu2k/kubernetes-homelab
      - LinkedIn:
          - icon: linkedin.png
            href: https://www.linkedin.com/in/nebu2k/
      - Website:
          - icon: mdi-web
            href: https://seb-it.com

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "K3s Cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true

    - longhorn:
        expanded: true
        total: true
        labels: true
        nodes: true

  kubernetes.yaml: |
    mode: cluster

  docker.yaml: |
    raspi4:
      host: 192.168.2.2
      port: 2375
      
    raspi5:
      host: 192.168.2.9
      port: 2375
