apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: homepage
data:
  settings.yaml: |
    title: Homelab Dashboard
    favicon: https://gethomepage.dev/assets/favicon.ico
    theme: dark
    color: slate
    headerStyle: boxed
    layout:
      ArgoCD:
        style: row
        columns: 2
      Services:
        style: row
        columns: 3
      Monitoring:
        style: row
        columns: 3
      Private:
        style: row
        columns: 2
      Infrastructure:
        style: row
        columns: 2
      Docker:
        style: row
        columns: 3

  services.yaml: |
    - Services:
      - Longhorn:
          href: http://192.168.2.2:30080
          description: Distributed Storage
          icon: longhorn.png

    - Infrastructure:
      - Proxmox:
          href: https://192.168.2.8:8006
          description: Virtualization Host
          icon: https://cdn.simpleicons.org/proxmox/E57000
          widget:
            type: proxmox
            url: https://192.168.2.8:8006
            username: {{HOMEPAGE_VAR_PROXMOX_USER}}
            password: {{HOMEPAGE_VAR_PROXMOX_PASS}}
      
      - Mac Mini:
          href: http://192.168.2.4
          description: AdGuard DNS | x86_64 | 20GB RAM
          icon: https://cdn.simpleicons.org/apple/000000
          ping: 192.168.2.4

    - Docker:
      - Teslalogger (Pi5):
          icon: https://cdn.simpleicons.org/tesla/CC0000
          description: Tesla Data Logger
          href: https://teslalogger.elmstreet79.de
          server: raspi5
          container: teslalogger-webserver
          widget:
            type: docker
            server: raspi5
            container: teslalogger-webserver

  bookmarks.yaml: |
    - Developer:
      - GitHub:
          - icon: github-light.png
            href: https://github.com/Nebu2k/kubernetes-homelab

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "K3s Cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true

  kubernetes.yaml: |
    mode: cluster

  docker.yaml: |
    raspi4:
      host: 192.168.2.2
      port: 2375

    raspi5:
      host: 192.168.2.9
      port: 2375
