apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: homepage
data:
  settings.yaml: |
    title: Homelab Dashboard
    favicon: https://gethomepage.dev/assets/favicon.ico
    theme: dark
    color: slate
    headerStyle: boxedWidgets
    layout:
      Management:
        style: row
        columns: 2
      Monitoring:
        style: row
        columns: 3
      Infrastructure:
        style: row
        columns: 3
      Applications:
        style: row
        columns: 3
      DNS:
        style: row
        columns: 2
    providers:
      longhorn:
        url: http://longhorn-frontend.longhorn-system

  services.yaml: |
    - Infrastructure:
      - Proxmox:
          href: https://pve.elmstreet79.de
          description: Virtualization Host
          icon: https://cdn.simpleicons.org/proxmox/E57000
          weight: 10
          widget:
            type: proxmox
            url: https://pve.elmstreet79.de
            username: {{HOMEPAGE_VAR_PROXMOX_USER}}
            password: {{HOMEPAGE_VAR_PROXMOX_PASS}}

      - Portainer (Pi5):
          href: https://portainer.elmstreet79.de
          description: Portainer Docker Pi5
          icon: https://cdn.simpleicons.org/docker/2496ED
          weight: 20
          widget:
            type: portainer
            url: https://portainer.elmstreet79.de
            env: 2
            key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}

      - Portainer (Pi4):
          href: https://portainer.elmstreet79.de
          description: Portainer Docker Pi4
          icon: https://cdn.simpleicons.org/docker/2496ED
          weight: 21
          widget:
            type: portainer
            url: https://portainer.elmstreet79.de
            env: 4
            key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}

      - Mac Mini:
          description: Mac Mini Server
          icon: https://cdn.simpleicons.org/apple/000000
          weight: 100
          ping: 192.168.2.4
          widget:
               type: glances
               url: https://glances-macmini.elmstreet79.de
               metric: memory
               version: 4

      - UniFi Controller:
          href: https://192.168.2.1
          description: UniFi Router
          icon: https://cdn.simpleicons.org/ubiquiti/0559C9
          weight: 30
          ping: 192.168.2.1
          widget:
            type: unifi
            url: https://192.168.2.1
            username: {{HOMEPAGE_VAR_UNIFI_USER}}
            password: {{HOMEPAGE_VAR_UNIFI_PASS}}

          
    - Applications:
      - Teslalogger Grafana:
          icon: https://cdn.simpleicons.org/grafana/F46800
          description: Tesla Data Logger Dashboard
          href: https://teslalogger.elmstreet79.de
          weight: 21
          server: raspi5
          container: teslalogger-grafana

      - Teslalogger Web:
          icon: https://cdn.simpleicons.org/tesla/CC0000
          description: Tesla Data Logger Web
          href: https://teslalogger-web.elmstreet79.de/admin
          weight: 20
          server: raspi5
          container: teslalogger-webserver

      - Dreambox:
          href: https://dreambox.elmstreet79.de
          description: Dreambox Receiver
          icon: mdi-television-box
          weight: 10
          ping: 192.168.2.11

    - DNS:
      - AdGuard Home (Mac Mini):
          href: https://adguard-macmini.elmstreet79.de
          description: AdGuard DNS
          icon: adguard-home.png
          weight: 31
          ping: 192.168.2.4
          widget:
            type: adguard
            url: https://adguard-macmini.elmstreet79.de
            username: {{HOMEPAGE_VAR_ADGUARD_USER}}
            password: {{HOMEPAGE_VAR_ADGUARD_PASS}}

  bookmarks.yaml: |
    - Developer:
      - GitHub:
          - icon: github-light.png
            href: https://github.com/Nebu2k/kubernetes-homelab
      - LinkedIn:
          - icon: linkedin.png
            href: https://www.linkedin.com/in/nebu2k/
      - Website:
          - icon: mdi-web
            href: https://seb-it.com

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "K3s Cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true

    - longhorn:
        expanded: true
        total: true
        labels: true
        nodes: true

  kubernetes.yaml: |
    mode: cluster

  docker.yaml: |
    raspi4:
      host: 192.168.2.2
      port: 2375
      
    raspi5:
      host: 192.168.2.9
      port: 2375
