apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: homepage
data:
  settings.yaml: |
    title: Homelab Dashboard
    favicon: https://gethomepage.dev/assets/favicon.ico
    theme: dark
    color: slate
    headerStyle: boxedWidgets
    layout:
      Management:
        style: row
        columns: 2
      Monitoring:
        style: row
        columns: 3
      Infrastructure:
        style: row
        columns: 3
      Applications:
        style: row
        columns: 3
    providers:
      longhorn:
        url: http://longhorn-frontend.longhorn-system

  services.yaml: |
    - Infrastructure:
      - Proxmox:
          href: https://pve.elmstreet79.de
          description: Virtualization Host
          icon: https://cdn.simpleicons.org/proxmox/E57000
          weight: 10
          widget:
            type: proxmox
            url: https://pve.elmstreet79.de
            username: {{HOMEPAGE_VAR_PROXMOX_USER}}
            password: {{HOMEPAGE_VAR_PROXMOX_PASS}}

      - Mac Mini:
          href: http://macmini.elmstreet79.de
          description: AdGuard DNS | x86_64 | 20GB RAM
          icon: https://cdn.simpleicons.org/apple/000000
          weight: 50
          ping: 192.168.2.4
          widget:
            type: adguard
            url: http://macmini.elmstreet79.de
            username: {{HOMEPAGE_VAR_ADGUARD_USER}}
            password: {{HOMEPAGE_VAR_ADGUARD_PASS}}

    - Applications:
      - Dreambox:
          href: https://dreambox.elmstreet79.de
          description: Dreambox Receiver
          icon: mdi-television-box
          weight: 10
          ping: 192.168.2.11

      - Teslalogger Web (Pi5):
          icon: https://cdn.simpleicons.org/tesla/CC0000
          description: Tesla Data Logger Web
          href: http://teslalogger-web.elmstreet79.de/admin
          weight: 20
          server: raspi5
          container: teslalogger-webserver

      - Teslalogger Grafana (Pi5):
          icon: https://cdn.simpleicons.org/grafana/F46800
          description: Tesla Data Logger Dashboard
          href: https://teslalogger.elmstreet79.de
          weight: 21
          server: raspi5
          container: teslalogger-grafana

  bookmarks.yaml: |
    - Developer:
      - GitHub:
          - icon: github-light.png
            href: https://github.com/Nebu2k/kubernetes-homelab

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "K3s Cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true

    - longhorn:
        expanded: true
        total: true
        labels: true
        nodes: true

    - portainer:
        url: https://portainer.elmstreet79.de
        env: 1
        key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}
        kubernetes: true

    - portainer:
        url: https://portainer.elmstreet79.de
        env: 2
        key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}

    - portainer:
        url: https://portainer.elmstreet79.de
        env: 4
        key: {{HOMEPAGE_VAR_PORTAINER_TOKEN}}

  kubernetes.yaml: |
    mode: cluster

  docker.yaml: |
    raspi4:
      host: 192.168.2.2
      port: 2375
      
    raspi5:
      host: 192.168.2.9
      port: 2375
