apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: homepage
spec:
  template:
    spec:
      containers:
      - name: homepage
        volumeMounts:
        - mountPath: /app/config/proxmox.yaml
          name: homepage-config
          subPath: proxmox.yaml
