apiVersion: v1
kind: Secret
metadata:
  name: homepage-docker-ssh
  namespace: homepage
type: Opaque
stringData:
  id_rsa: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    # Place your SSH private key here (~/.ssh/homelab)
    # This file is a template - create docker-ssh-secret-sealed.yaml with kubeseal
    -----END OPENSSH PRIVATE KEY-----
