# Seal with: kubeseal --format=yaml --controller-namespace=kube-system < grafana-credentials-unsealed.yaml > grafana-credentials-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-grafana
  namespace: homepage
type: Opaque
stringData:
  username: "admin"  # Replace with your Grafana username
  password: "prom-operator"  # Replace with your Grafana password
