# Seal with: kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < overlays/production/homepage/grafana-credentials-unsealed.yaml > overlays/production/homepage/grafana-credentials-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-grafana
  namespace: homepage
type: Opaque
stringData:
  username: "admin"  # Replace with your Grafana username
  password: "prom-operator"  # Replace with your Grafana password
