# Seal with: kubeseal --format=yaml --controller-namespace=kube-system < portainer-token-unsealed.yaml > portainer-token-sealed.yaml
apiVersion: v1
kind: Secret
metadata:
  name: homepage-portainer
  namespace: homepage
type: Opaque
stringData:
  token: "ptr_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
