# Seal with: kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < overlays/production/homepage/portainer-token-unsealed.yaml > overlays/production/homepage/portainer-token-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-portainer
  namespace: homepage
type: Opaque
stringData:
  token: "ptr_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
