# Seal with: kubeseal --format=yaml --controller-namespace=kube-system < proxmox-secret-unsealed.yaml > proxmox-secret-sealed.yaml
apiVersion: v1
kind: Secret
metadata:
  name: homepage-proxmox
  namespace: homepage
type: Opaque
stringData:
  username: "homepage@pve!monitoring"
  password: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
