# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/paperless-ngx/paperless-secrets-unsealed.yaml > manifests/paperless-ngx/paperless-secrets-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: paperless-secrets
  namespace: paperless-ngx
type: Opaque
stringData:
  PAPERLESS_ADMIN_USER: "admin"
  PAPERLESS_ADMIN_PASSWORD: "CHANGE_ME_STRONG_PASSWORD"
  PAPERLESS_SECRET_KEY: "CHANGE_ME_RANDOM_SECRET_KEY_50_CHARS"
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secrets
  namespace: paperless-ngx
type: Opaque
stringData:
  POSTGRES_DB: "paperless"
  POSTGRES_USER: "paperless"
  POSTGRES_PASSWORD: "CHANGE_ME_DB_PASSWORD"
