# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/paperless-ngx/s3-backup-credentials-unsealed.yaml > manifests/paperless-ngx/s3-backup-credentials-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-backup-credentials
  namespace: paperless-ngx
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "CHANGE_ME_AWS_ACCESS_KEY"
  AWS_SECRET_ACCESS_KEY: "CHANGE_ME_AWS_SECRET_KEY"
  S3_BUCKET_NAME: "homelab-paperless-backup"
  S3_REGION: "eu-central-1"
