# kubeseal --cert sealed-secrets-pub-cert.pem --format=yaml < manifests/paperless-ngx/smb-credentials-unsealed.yaml > manifests/paperless-ngx/smb-credentials-sealed.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: smb-credentials
  namespace: paperless-ngx
type: Opaque
stringData:
  username: "scanner-user"  # Replace with your SMB username
  password: "your-smb-password"  # Replace with your SMB password
