---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-poller
  namespace: monitoring
  labels:
    app.kubernetes.io/name: unpoller
    app.kubernetes.io/instance: unifi-poller
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: unpoller
      app.kubernetes.io/instance: unifi-poller
  template:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
      labels:
        app.kubernetes.io/name: unpoller
        app.kubernetes.io/instance: unifi-poller
    spec:
      nodeSelector:
        node-role.kubernetes.io/worker: "worker"
      containers:
        - name: unpoller
          image: ghcr.io/unpoller/unpoller:v2.11.2
          imagePullPolicy: IfNotPresent
          ports:
            - name: metrics
              containerPort: 9130
              protocol: TCP
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          volumeMounts:
            - name: config
              mountPath: /etc/unpoller/up.conf
              subPath: up.conf
              readOnly: true
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: config
          secret:
            secretName: unifi-poller-config
