apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-poller-unpoller
  namespace: monitoring
spec:
  template:
    spec:
      containers:
        - name: unpoller
          env:
            - name: UP_UNIFI_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: unifi-poller-credentials
                  key: username
            - name: UP_UNIFI_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: unifi-poller-credentials
                  key: password
