---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgBvJE+KT52UKmBZxChxaGV/YLhyK8hLaqUxV3cJ9XO9Mw07E8/3BS6JaXZEvBtStfLenReQQTuh2g4ol2KcfJjsoDJxB7LXPoTk69whBj7mFucENEFCUd4apm+d27iCHA7ME0c5x7K7pH791Jzhw2+68FlqMtbYmJyp527g4oWqgNK9HRsjHRA4eD9cbPVSEFdgFgH9KZqPeX0NiHMozaVYj01V4yLoVrEw+Id2+Lr+xh6ZUEWjcVo5PhSFoFe1rmC84xVX7vHd/+vu2lujbZg/M8pLtNfk0qYCIlK6lK4CjeycIxdWMWSS6tOKiqlQ9Mbp83gYi9OW+lzUuwtqoTWGiogr1onH/e4nQ8oj1JGKK0ebTeu7s151e/qrWOnzBLz5nuMfQJhrxFITheq6garzYNC5qDv+h17JxgaZUFo6HgQqcdQPAHg+n6aZ1qhlvoivwsRrgZKeJLApiqGYG9LevDTL0exZM9SrXUZgRvHo4JcFmFAVDGNra0184w0R69Mt2hBgqCzfcvT/+TrEMJ5eVyKYOLATf7u+FwTcQ1JCpLF4OJrP1NQbXmykxv91Y74/PlKCfsHXska44JflBT3s9yUrjYh6zU9whnlRey/yr4iRHYnOzeWDCgzZ1dIulUs4uOErK6EsMs2yxr9ymxpK5Q8oMQZ8ply0ZPpb+vP8rw2J5MjJyMkNyIK9cu0c8smnmHcnH6gpHQQU5Ei4dFX9UC8BkQ==
    admin-user: AgBKD4FMyH+Wfgax1eXlVZIrctIR8pk35wjJWdXa2dtdQeL965vENogyI9dCL0T/1wS4qmG3zcaA+HCmvcdOvKvrpItHvUnioMrE2SEddQngZSIz+TlM0kZAa+M9S6hWRYT061irPuWEsO0a8qlSyePanW+f7T4tt1u+nerFWVNm0kyem6ZWbIl2W/GO0uMoz9BV6WBJSE1RsihTWnuAoSHLRZhNFAxAL8XsGn36MWLfs6aUuWERCNIijA5PIAZ/v7mCdKacwPGP3LyhZCjBbuOetimIn7mnB0AA4lqkLj5gZhyGBC9VTbnjiX1chagJNUdh0FLl3yFM1DupyvVfXyKP36oVwKvV4JZfkWpaqF3N6FJa/4EkocL0uaFERUBV8EOHKuoAmFlma5FHL3jcOHokOG0ohRQo2DstcFrbLe6ECXJnaQwyTLKHo1hIT/ScOn5cNA0fSn0Xv6dtiVt2axYS0Pj9Z5ClWRFbRuP/FT2TX0HhbUGSuwXchb1Pb1qOCjzBklomDWwLU2WfSBFBqdBawYoP/XWGTiuZPzgKangMFnDwy0hG2q/HXI2UtUHx9TvIiDC3ytHuSyVNpMSqedAGo1vWh4HRHdS6ee1PWmdcajuBsj/8rW9agCWaTSnTcnEVroeTbIy2rUHTQW9NWQKXiuZpQhlmmT8PrV+VKM1M5ySW/KrqSuGnQffRoV6mvadkWuYP6Q==
  template:
    metadata:
      name: grafana-admin-secret
      namespace: monitoring
    type: Opaque
