---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: alertmanager-smtp-credentials
  namespace: monitoring
spec:
  encryptedData:
    password: AgCiSZRrCRX1O3vfcZUX4HfINrVsrVuN/r3VglmNEsRi7wKhbVsypZMajIfou/7b1DA96wKiPVDGy8nLcXc9EbjqeC/MdJDzGoESstsxWNyYipoizNfLrA0so8rZTgNbrDR+v+UlpAxHaDbarsyoaKTAVYw8120iki1kFSkUJz/Epzrw+48XRhjzD5/bVb9VXT8mWoXiAZ8VZtATayUFHG0hPZnu9v21aUkh5oMNCLvho1lKRhNs0HO5bGyKaN1oOn80UuEyNHWRESzC7uU6cOtGJYPMRjG0C17WvgzhL2mwPBT5doy8oXgbl/pUvwaigp80AI37M6NuBKvCbx0GuBWK+1xZ2CglTT3+YWPesKpa6a4YszF8945rgboUPnMo1Qlx21p+kaJeanbko//Rzt6FTvfHLfVPdsI3iZyD1pKzK52jNMLyXxuKQTNMM2R38/ROcT9v1hKzhBa1GGTKyNd0m7r8d2QjfOUStt2MBLleQlSgEPJ4xYu4HbNmiFB8Vh7fl0/KT1Ha9wihD6APf7q4P9FhoxuiFnGjkRCzxK5MJdhDqvMr5zp0BlRRJkO2nLwBfJLp9B6nX8pezV4/CssJVmn7GIchnbKXWGss5KySVpibquiBsQ3C23BEcshWDFt5CLfSBKu1wrkKzlEJTOq2KA+mLn3gk+U7MgUbZBdY0ht6sqy/EDnMGlPxz8h0ye3tF0EHg5FOAS5eJRsColztK6kzw1ZxttfbG1moKNT5S5OSGzumyBAgFypolg==
    username: AgAuZG9I5dVRyTKuk7GBEHev6M+K4WYWe5IE4V5nTQ3isarM+2Xzp06TnnjCEMCMo5oKxVsvWVYplMZ8VPwybo1CV678hTYxLXqN5q3YsXpvnU7sb3BPMfl6AtLO2PH9vgfhxSqy81/M01xXlW8jAjOBlFmXhQXhK+s0JtkWQqX8/HCYDIZPmkiBotYD/5Ll7vbhPD4d1fb0gcGAJqZLPW+oG2SULMHBYedWnJ9HlXzpUNS+Z72T0QVaKkvMYk0jE9Wedoh2GB3SVmL8hWSYOFqHLUrJ1gzRJvZJIjiFy5+nwFgDg5xNnNXGJDHJfRniFf663+YQTxswW2RJyVrCSKFAO/jSH2pmV7Zt0kttGmxkrTaN7d6hoyFcQMhPyxZANsLldcYHMVX4NpjB0Awq8deg7z00pXzqBw4YbtpqmaEfwd5PsUHJYxfVN5NkDWenq+SrxBAJZBp5B4st3daJ7ExlTyaUCoVKynYzpDs8sFxgdYVyQLIsNjvxQmyJwtG43gnS2qfkf777JefoPP7VH+C3QlIGpA7MY99IK4W71pGFf3uNYWWNxbZIhix+eZ2Iu3cJtu7m3xwJex9bHz9irtGtrYnIrdZNA+zxL4ZBpU4oWY4RIYOqmaERqrGcQ3Y/86uq9xW3oqO6NKUymD1pAYPA3rQKi73LCJzp6ePsFAcdUiCEvIi8hy05o0OIsNEfpmhzaI0A2NxXZkII4sHg+J0HNmWnyQ==
  template:
    metadata:
      name: alertmanager-smtp-credentials
      namespace: monitoring
    type: Opaque
