[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/k3s.service.env
KillMode=process
Delegate=yes
User=root
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s \
    server \
	'--etcd-expose-metrics=true' \
	'--etcd-s3' \
	'--etcd-s3-config-secret=k3s-etcd-s3-config' \
	'--etcd-snapshot-retention=28' \
	'--secrets-encryption' \
	'--server' \
	'https://192.168.2.249:6443' \
	'--token' \
	'<K3S_SERVER_TOKEN>' \
	'--tls-san' \
	'192.168.2.249' \
	'--tls-san' \
	'k3s-cp-1' \
	'--tls-san' \
	'192.168.2.19' \
	'--disable' \
	'traefik' \
	'--disable' \
	'servicelb' \
	'--write-kubeconfig-mode' \
	'644' \
	'--node-ip' \
	'192.168.2.19' \

